body {
 background-color: #282828; 
 font-family: arial; 
 color: white;
 font-size: 100%;
 margin: 0;
 }

.img1 {
 	width: 100%;
 	height: 320px;
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 }

.img2 {
 	width: 290px;
 	height: 290px;
 	margin-left: 470px;
 	margin-top: -310px;
 	position: absolute;

 }

 .img3 {
 	width: 25px;
 	margin-left: 620px;
 }

 .img4 {
 	width: 25px;
 	margin-left: 620px;
 }

 .img5 {
 	width: 25px;
 	margin-left: 620px;
 }

  .img6 {
 	width: 25px;
 	margin-left: 620px;
 }

  .img7 {
 	width: 25px;
 	margin-left: 620px;
 }

  .img8 {
 	width: 25px;
 	margin-left: 620px;
 }

  .img9 {
 	width: 25px;
 	margin-left: 620px;
 }

  .img10 {
 	width: 25px;
 	margin-left: 620px;
 }
  .img11 {
 	width: 25px;
 	margin-left: 620px;
 }

   .img12 {
 	width: 25px;
 	margin-left: 620px;
 }

header {
 	width: 100%;
 	height: 320px;
 }

h1{
	text-align: center;
	font-family: 'arial';
	}

.musiqueGauche{
	padding-left: 120px;
	height: 130px;
}

.musiqueDroite{
	padding-left: 760px;
	height: 130px;
}

.likeGauche{
 	width: 20px;
 	margin-left: 45px;
 	margin-top: 30px;
 	position: absolute;
}

.likeDroite{
 	width: 20px;
	padding-left: 1200px;
 	margin-top: 30px;
 	position: absolute;
}

footer{
    font-size: 12px;
    font-family: 'arial';
    color: #282828;
    background-color: #FFFFFF;
    height: 100px;
    line-height: 30px;
    width: 100%;
    margin: 0;
}

ul#menu_horizontal { 
width : 600px; 
height : 30px;
margin : 2em 0 0 0;
margin-left: 100px;
background-color : none;
color: none;
border : 0px;
list-style-type : none; 

}
 
ul#menu_horizontal li {
padding : 0 0.5em;  
line-height : 50px;

}
 
ul#menu_horizontal li.bouton_gauche {
float : left;
border-right : 0px dashed black; 
}

ul#menu_horizontal li.bouton_milieu {
float : center;
border-left : 1px dashed black;
}
 
ul#menu_horizontal li.bouton_droite {
float : center;
border-left : 0px dashed black;
}
 
ul#menu_horizontal a {
color : #FFFFFF;
text-decoration : none;
padding : 0 0.5em; 
font :  0.8em "Trebuchet MS";
}
 
ul#menu_horizontal a:hover { text-decoration : underline; }
 
ul#menu_horizontal a img { 
border : none;
padding :  0 0.3em;
}

section{
	margin-top: 100px;
}