body {
 background-color: #282828; 
 font-family: arial; 
 color: white;
 font-size: 100%;
 margin: 0;
 }

.img1 {                         /*Il s'agit de notre image de couverture dans le header*/
 	width: 100%;
 	height: 320px;
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 }

.img2 {                          /*Il s'agit de notre logo en haut de la page dans le header*/
 	width: 290px;
 	height: 290px;
 	margin-left: 470px;
 	margin-top: -310px;
 	position: absolute;

 }

 .img3 {                         /*Il s'agit des images des positions des musiques (1)(2)(3).....(8)(9)(10)*/
 	width: 25px;
 	margin-left: 620px;
 }


header {
 	width: 100%;
 	height: 320px;
 }

h1{
	text-align: center;
	font-family: 'Ar cena';
	}

#Musique {
	line-height: 45px;
}

.musiqueGauche{
	padding-left: 40px;
	height: 130px;
}

.musiqueDroite{
	padding-left: 800px;
	height: 130px;
	flex-direction: row-reverse;
	margin-right: 40px;
	padding-left: 0px;
}

.infosmusique {
	margin: 40px;
}

.hashtags {
	color: firebrick;
	font-family: Ar cena;
	font-size: 18px;
}

article {
	display: flex;
	align-items: center;
}

.like{  					/*position des boutons like*/
 	width: 20px;
 	height: 20px;
}

iframe {					/*position des lecteurs Spotify*/
	height: 80px;
	margin: 40px;
}

ul#menu_horizontal { 
width : 1000px; 
height : 30px;
margin-left: 100px;
background-color : none;
color: none;
border : 0px;
list-style-type : none; 
}
 
ul#menu_horizontal li { 
display: inline;
font-size: 0px;
}
 
ul#menu_horizontal li.bouton_gauche {
padding-left: 335px;
}

ul#menu_horizontal li.bouton_milieu {
padding-left: 100px;
}
 
ul#menu_horizontal li.bouton_droite {
padding-left: 100px;
}
 
ul#menu_horizontal a {
color : #FFFFFF;
text-decoration : none;
}
 
ul#menu_horizontal a:hover { text-decoration : underline; 
}

section {
	margin-top: 100px;
}

ul#musiques {
	padding-left: 0;
}

footer {
    font-size: 12px;
    font-family: 'arial';
    color: #A4A4A4;
    background-color: #000000;
    margin: 0;
    padding: 20px;
}

footer a {
	color: #A4A4A4;
	text-decoration: none;
}

ul#menufooter {
	margin-bottom: 0px;
	text-align: center;
	padding-left: 0;
}

ul#menufooter li {
	list-style-type: none;
	display: inline;
	margin-right: 30px;
	padding-left: 40px;
	font-weight: bold;

}

.Pied{
	text-align: center;
	float: center;
}

.logoF{								/*position du logo dans le pied de page*/
height: 70px;
width: 70px;
padding-left: 579px;
padding-top: inherit;
padding-bottom: inherit;
}



/*Page A propos*/



.Apropos {
	text-align: center;
	font-family: Ar cena;
	padding-top: 30px;
	margin-left: 300px;
	margin-right: 300px;
	font-size: 18px;
	word-spacing: 5px;
	line-height: 30px;
}



/*Page contact*/



.contactcolor {
	color: firebrick;
}

.Datedajout {
	font-family: Ar cena;
	font-size: 18px;
}

